$color-orange: #f1592a;
$color-red: #e11b22;
$color-grey: #2d2927;
$color-green: #cbdb2a;
$color-red2: #ef4130;
.color-one {
    color: #ef4130;
}

.color-two {
    color: #f1592a;
}

.color-three {
    color: #f7941e;
}

.color-four {
    color: #faa634;
}

.color-five {
    color: #00addc;
}

.color-six {
    color: #bcdb2a;
}

.color-seven {
    color: #e11b22;
}

.color-eight {
    color: #6dc8bf;
}

.color-grey {
    color: #ababab;
}




* {
	box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

td, th {
	text-align: left;
	border: 1px solid $color-grey;
	padding: 3px;

}