<dl>
	<dt>Total</dt>
	<dd>{{total_pageviews}}</dd>
	<dt>Places</dt>
	<dd>{{places_pageviews}}</dd>
	<dt>Network</dt>
	<dd>{{network_pageviews}}</dd>
	<dt>Kinds</dt>
	<dd>{{kind_pageviews}}</dd>
	<dt>Posters</dt>
	<dd>{{poster_pageviews}}</dd>
	<dt>Day</dt>
	<dd>{{day_pageviews}}</dd>
	<dt>Week</dt>
	<dd>{{week_pageviews}}</dd>
	<dt>Month</dt>
	<dd>{{month_pageviews}}</dd>
</dl>
